body{
    color: black;
}

.contenedor_tabla{
    background-color: rgb(89, 83, 255);
    width: max-content;
    height: max-content;
    position: relative;
    left: 30%;
    align-content:space-around;
    
}

table{
    width: 645px;
    border: 2px solid blanchedalmond
}

td{
    border: 2px outset white;
}


.separador{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.registro{
    text-align: center;
}

.columna{
    background-color: black;
}