body{
    color: black;
}

.contenedor_tabla{
    background-color: rgb(89, 83, 255);
    width: max-content;
    height: max-content;
    position: relative;
    left: 30%;
    align-content:space-around;
    border-radius: 5px;
}

table{
    width: 645px;
    border: 5px solid rgb(30, 30, 30);
    border-radius: 5px;
    
}

tr{
    border: 20px solid black;
    margin: 0;
}


.separador{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.registro{
    text-align: center;
}

.columna{
    background-color: black;
}